<!DOCTYPE html>
{% if article %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/BlogPosting"> <!--<![endif]-->
{% elif page %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
{% else %}
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Blog"> <!--<![endif]-->
{% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ SITEURL }}/"><!-- So that "images/" prefixed URLs are resolved in the same way in pages/ -->

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE|default('image/x-icon') }}">
    {% endif %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed">

    {% block meta %}
    {% endblock %}

    <meta name="author" content="{{ AUTHOR }}">
    <meta name="copyright" content="{{ AUTHOR }}">
    <meta name="twitter:card" content="summary" >
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}" >
    <meta property="og:site_name" content="{{ SITENAME }}" >

    {% block seo %}
    <meta property="og:title" content="{{ SITENAME }}" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="{{ SITEURL }}" >
    <meta name="twitter:url" content="{{ SITEURL }}" >
    <meta itemprop="name" content="{{ SITENAME }}" >
    <meta itemprop="url" content="{{ SITEURL }}">
    {% if DESCRIPTION %}
    <meta property="og:description" content="{{ DESCRIPTION }}" >
    <meta name="twitter:description" content="{{ DESCRIPTION }}" >
    <meta itemprop="description" content="{{ DESCRIPTION  }}" >
    {% endif %}
    {% if META_IMAGE %}
    <meta property="og:image" content="{{ META_IMAGE }}" >
    <meta property="og:image:type" content="{{ META_IMAGE_TYPE }}" >
    <meta name="twitter:image" content="{{ META_IMAGE }}" >
    <meta itemprop="image" content="{{ META_IMAGE }}" >
    {% endif %}
    {% endblock %}

    {% if not DISABLE_SEARCH %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/csslibs/tipuesearch.css">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/bundle-SHORTSHA1-dbda62d.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="mg-header">

    <div class="mg-header-content uk-container">

        <div>
            <a class="mg-brand" href="{{ SITEURL }}">{% block header_text %}{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}{% endblock %}</a>
            <div class="mg-tagline">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</div>
        </div>

        <ul class="mg-skiplinks">
            {% if not DISABLE_SEARCH %}
            <li><a href="#search-form">Search form</a></li>
            {% endif %}
        </ul>

        <div class="mg-header-extra">
            {% block header_extra %}
            {% endblock %}
        </div>

    </div>
</header>

<main class="mg-main">

<div class="uk-container ">

    <div class="uk-grid" uk-grid>

        {% block content %}
        {% endblock %}

        <div role="navigation" class="uk-width-1-5@m">

            {% if not DISABLE_SEARCH %}
            <div class="uk-card uk-card-body uk-card-small">
                <form class="uk-search uk-search-default" action="search.html" >
                    <input class="uk-search-input tipue_search" type="search" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search...">
                </form>
            </div>
            {% endif %}

            {% if CATEGORY_SAVE_AS %}
            <div class="uk-card uk-card-body uk-card-small">
                <h2 class="uk-card-title">Categories</h2>
                <ul class="uk-nav uk-nav-default">
                    {% for cat, _ in categories %}
                    <li {% if cat == category %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}

                    {% if ARCHIVE_SAVE_AS %}
                    <li class="uk-nav-divider"></li>
                    <li {% if page_name == 'archives' %}class="uk-active"{% endif %}><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}

            {% if DISPLAY_PAGES_ON_MENU != False %}
            <div class="uk-card uk-card-body uk-card-small">
                <h2 class="uk-card-title">Pages</h2>
                <ul class="uk-nav uk-nav-default">
                    {% for p in pages %}
                    <li {% if p == page %}class="uk-active"{% endif %}>
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if SOCIAL %}
            <div class="uk-card uk-card-body uk-card-small">
                <h2 class="uk-card-title">Social</h2>
                {% for link_destination, link in SOCIAL %}
                <a class="mg-icon-link" href="{{ link }}" title="Link to my {{ link_destination }}">
                    <i class="fab fa-{{ link_destination }} " aria-hidden="true"></i>
                </a>
                {% endfor %}
            </div>
            {% endif %}

            <div class="uk-card uk-card-body uk-card-small">
                <h2 class="uk-card-title">Syndication</h2>
                <a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" class="mg-feed"><i class="fas fa-rss-square "></i> ATOM</a>
                {% if EXTRA_ATOM_FEED %}<a rel="alternate" type="application/atom+xml" href="{{ EXTRA_ATOM_FEED['url'] }}" class="mg-feed"><i class="fas fa-rss-square "></i> {{ EXTRA_ATOM_FEED['name'] }}</a>{% endif %}
            </div>

            {% if AVATARS %}
            <div class="uk-card uk-card-body uk-card-small">
                <h2 class="uk-card-title">Avatars</h2>
                {% for img_uri in AVATARS %}
                <img class="mg-avatar" src="{{ img_uri }}" alt="An avatar I use on the web" title="An avatar I use on the web">
                {% endfor %}
            </div>
            {% endif %}

            {% if READINGS %}
            <a href="{{ SITEURL }}/past_readings.html">
                <div class="uk-card uk-card-body uk-card-small">
                    <h2 class="uk-card-title">Previous Entries</h2>
                    <img class="uk-thumbnail" src="{{ READINGS[0]['img_url'] }}" alt="{{ READINGS[0]['description'] }}" title="{{ READINGS[0]['description'] }}">
                </div>
            </a>
            {% endif %}

            {% if LINKS %}
            <div class="uk-card uk-card-body uk-card-small">
                <h3 class="uk-card-title">Blogroll</h3>
                <ul class="uk-nav uk-nav-default">
                {% for text, url in LINKS %}
                <li><a href="{{ url }}">{{ text }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if SUPPORTS %}
            <div class="uk-card uk-card-body uk-card-small">
                {% for name, link, logo_url, title in SUPPORTS %}
                <a href="{{ link }}">
                    <img class="mg-support-logo" src="{{ logo_url }}" alt="Logo {{ name }}" title="{{ title }}">
                </a>
                {% endfor %}
            </div>
            {% endif %}

        </div>

    </div>

</div>

</main>

<footer class="mg-footer">
    <div class="uk-container uk-text-center">
        <div class="mg-author uk-panel">
            <p>Powered by <a href="http://blog.getpelican.com">Pelican</a>. Theme <a href="https://github.com/alopexc0de/pelican-mg">mg</a> based on work by <a href="https://github.com/lucachr">Luca Chiricozzi</a></p>
            <p>{{ FOOTER }}</p>
        </div>
    </div>
</footer>

<script src="{{SITEURL}}/theme/bundle-SHARE-{{SHARE|string|first|length|string|first}}-MG_FILTER_TAGS-{{MG_FILTER_TAGS|string|first|length|string|first}}-SHORTSHA1-d853ca5.js"></script>

{% if not DISABLE_SEARCH %}
<script src="{{ SITEURL }}/theme/jslibs/tipuesearch_set.js"></script>
<script src="{{ SITEURL }}/theme/jslibs/tipuesearch.js"></script>
{% endif %}

</body>
</html>
